.section2_wrap {
  background-color: #1a1a1a;
  position: relative;
  bottom: 50px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2_h2 {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  color: #ffffff;
}

.section2_p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #bdbdcd;
}

.section2_card_p {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.section2_cards_wrap {
  display: flex;
}

.section2_card {
  border-style: solid;
  border-width: 0.5px;
  border-color: #404040;
  margin-left: 40px;
  padding: 50px;
  width: 300px;
  margin-top: 40px;
}

.section2_card_p {
  color: #797979;
}
